*.zip
*.dat
.vscode*
.well*
site/license.txt
site/readme.html
site/*.php
!site/wp-config.php
wp-*
!wp-config.php
!wp-content
site/wp-content/upgrade
site/wp-content/themes/*
!site/wp-content/themes/groenp
site/wp-content/plugins/*
!site/wp-content/plugins/groenp-mailing.php
site/wp-content/uploads
debug.log
site/logs/*.txt
*).js
*).css
*).php
*.json
*.mo
*.eml
site/wp-content/languages/themes/twenty*
site/wp-content/languages/plugins
