/******************************************************************************/
/*                                                              Pieter Groen  */
/*  Version 0.1 - May 26, 2020                                                */
/*                                                                            */
/*  CSS for Groen Productions - Sites Mgmt website CMS in WordPress           */
/*                                                                            */
/******************************************************************************/
html {
  scroll-behavior: smooth;
}
/* 
only for groenp pages: 
    created space at the bottom of the page to scroll properly to last form 
    padding is 100% of the screen height 
*/
.dashboard_page_groenp_subscribers #wpbody-content {
    padding-bottom: 100vh;
}
/* place footer tagline right at the top, so users see it */
.dashboard_page_groenp_subscribers #wpfooter {
    min-height: 100vh;
}


/* removal of superfluous postbox containers; need entire width */
/* #postbox-container-2, #postbox-container-3, #postbox-container-4 {
    display: none;
}
#wpbody-content #dashboard-widgets #postbox-container,
#wpbody-content #dashboard-widgets #postbox-container-1 {
    width: 100%;
    margin-right: 2px;
} */

/* a link offset for forward scrolling */
a.anchr {
    display: block;
    position: relative;
    top: -85px;
    visibility: hidden;
}

/* ************************************************************ */
/*  login screen elements                                       */
/* ************************************************************ */
body.login h1 a {  
    background-image:url('GroenProductionsPath.svg'); 
    background-size: 300px 40px; 
    width: 300px; 
    height: 40px; 
} 
/* remove <- Volver link */
body.login div#login p#backtoblog {
    display: none;
} 

/* std button colour, but only for primary and default scheme 
to only show on login page. prepend with 'body.login '  */ 
/* body.login .button-secondary,  */
body.login .button, 
body.login .button-primary
{
    background: #00503b;
    border-color: #00503b;
}
body.login .button-primary.focus, 
body.login .button-primary.hover, 
body.login .button-primary:focus, 
body.login .button-primary:hover 
{
    background: #00b03a;
    border-color: #00b03a
}
body.login .button-primary:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 4px rgba(0, 176, 58, .5);
}

/* eye icon is also a button */
.wp-core-ui .button-secondary.wp-hide-pw  { 
    color: #00503b;
}
.wp-core-ui .button-secondary.wp-hide-pw:focus, 
.wp-core-ui .button-secondary.wp-hide-pw:hover {
    color: #00b03a;
}
/* input fields */ 
/* select:focus, textarea:focus,  */
body.login input[type='password']:focus, 
body.login input[type='text']:focus 
{
    border-color: #00b03a;
    box-shadow: 0 0 0 1px #00b03a;
}
/* messages */ 
body.login .message {
border-left: 4px solid #00b03a; 
}
body.login .message.lowlight {
border-left: 4px solid #00503b; 
}


/* ************************************************************ */
/*  meta box table elements                                     */
/* ************************************************************ */
div.postbox th {
	background-color: #e0e0e0;
	padding: .1875rem;
}

div.postbox table.manage th:last-child {
	width: 7.25rem;
}
/* exception: cus-my-billing doesn't have button column */
/* div.postbox #cus-my-billing table.manage th:last-child {
	width: inherit;
} */
div.postbox table.edit th:first-child {
	width: 190px;
}

/* list table: thumbnails */
div.postbox table.manage .pic {
	text-align: center;
}
div.postbox table.manage th.pic {
	width: 80px;
}
/* list table: cells with numbers, dates, amounts */
div.postbox table.manage .numb {
	text-align: right;
}
div.postbox table.manage th.numb {
	width: 50px;
}

div.postbox table.manage th.date {
	width: 100px;
}
div.postbox table.manage .date {
	text-align: center;
}

div.postbox table.manage .amnt {
	text-align: right;
}
div.postbox table.manage td.amnt {
    padding-right: 8px;
}
div.postbox table.manage th.amnt {
	width: 120px;
}
/* comment cells with lots of text */
div.postbox table.manage td.wrap {
    white-space: normal;
}

/* list table: cells with checkboxes colour only when not empty*/
div.postbox table.manage td.chck {
	text-align: center;
   background-color: #ecf1f3;
}
div.postbox table.manage td.chck:empty {
   background-color: transparent;
}
div.postbox table.manage th.chck {
	text-align: center;
	width: 3rem;
    font-size: 10px;
    line-height: 100%;
    white-space: normal;
}

div.postbox table.manage tr:hover {
    background-color: #ecf1f3;
}

div.postbox td textarea, div.postbox td input[type="text"] {
	width: 100%
}

div.postbox td {
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #dfdfdf;

}

/* wrap content when hovering, and break anywhere so large names and urls show entirely */
div.postbox td:hover {
    overflow: visible;
    white-space: normal;
    word-wrap: anywhere;
}
/* make sure that two lines fit in the td when hovering, applies to tr */
div.postbox .inside tr {
    line-height: 1.3;
}

/* cell with action buttons should not re-order */
div.postbox td:last-child:hover {
    white-space: nowrap;
}
div.postbox td.dvdr {
    border-bottom: 1px solid #aaaaaa;
}
/* div.postbox td input[type="button"], */
div.postbox td .button-primary, 
div.postbox td .button-secondary
{
    min-width: 3rem;
    margin: .125rem 0 .125rem .25rem;
}

/* filter section */
div.postbox td.head {
    background-color: #e0e0e0;
}
div.postbox td.head input[type="text"]{
    width: calc(100% - .125rem);
    margin: .25rem auto;    
}
div.postbox td.head input.chk {
    text-align: center;
}
div.postbox input.numb[type="text"] {
    text-align: right;
}


/* ************************************************************ */
/* meta box form elements                                       */
/* (pure W3C so works for Fx and IE, not so much for webkit)    */
/* ************************************************************ */

/* texts in meta boxes; for override on wordpress unfortunately two different specs:  
	#dashboard-widgets, #poststuff */

/* bars on the metaboxes (cusconow multi-pane dashboard) */
#dashboard-widgets div.postbox h3.hndle, #poststuff div.postbox h3.hndle {
    background-color: #545454;
}
#dashboard-widgets div.postbox h3.hndle span, #poststuff div.postbox h3.hndle span {
    color: #fff;
}

/* Section headers */
#dashboard-widgets div.postbox h4, #poststuff div.postbox h4 {
	background-color: #e6e6e6;
	padding: 3px;
	margin: 30px 0 10px;
    clear: both;
}
/* Form sub-headers */
#dashboard-widgets div.postbox h5, #poststuff div.postbox h5 {
    clear: both;
    margin: 0;
    font-size: 1em;
    padding: 0.25em 0;
    border-top: 1px solid #e6e6e6;
}
#dashboard-widgets div.postbox h5+p, #poststuff div.postbox h5+p {
    margin-top: 0em;
}

/* Back to top, hide this box buttons */
p.btt, p.htb {
    height: 8px;
}
.btt  a, .htb a {
    font-size: 8pt;
    float: right;
}
.btt a:after, .htb a:after {
    font-family: FontAwesome;
    font-weight: 200;
    display: inline-block;
    padding-left: .4rem;
    content: "\f077"; /* chevron up */
}
.htb {
    display: none;
}
.htb a:after {
    /* content: "\f057"; times circle */
    content: "\f00d"; /* times */
}


/* Introduction fixed text on page */
/* #post-body-content li {
    display: inline;
} */
/* Show bullets again */
/* #dashboard-widgets div.postbox ul, #poststuff div.postbox ul {
	list-style: disc outside none;
	margin-left: 20px;
	margin-bottom: 0;
} */

/* Smaller font in forms help fit things in forms on smaller screens */
#post-body-content, 
#dashboard-widgets div.postbox p, 
#dashboard-widgets div.postbox ul, 
#poststuff div.postbox p, 
#poststuff div.postbox ul, 
#poststuff div.postbox ol, 
div.postbox table.tel-list, 
div.postbox table.editform td {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
div.postbox li {
    margin-bottom: 0;
}
div.postbox table.editform td input {
	font-size: 14px;
}

div.postbox p.right {
    text-align: right;
}
div.postbox p.right input {
    vertical-align: middle;
}

div.postbox p label, div.postbox p span.prompt {
	display: block;
	float: left;
	padding: 6px 3px;
	width: 174px;
	margin-right: 20px;
    min-height: 12px;
}
div.postbox p span.prompt {
    clear: left;
    color: #444;
}
div.postbox p label>span {
    color: #444;
}

div.postbox span, div.postbox span.context {
	color: #a0a0a0;
}
div.postbox span.intro {
    color: #444;
    display: block;
}
/* checkboxes tend to float in small places, wrap label around it */
div.postbox p label.chk {
    width: auto;
}
div.postbox p label.chk > span {
    display: inline-block;
    /* float: left; */
    width: 198px;
}
div.postbox p label.chk input[type="checkbox"] {
    margin: 0 180px 14px 0;
}

/* horizontal form section */
div.postbox p.hor-form {
	float: left;
	width: 550px;
    margin: 0 0 10px;
}

div.postbox p.hor-form label+span, div.postbox p.hor-form span.prompt+span.context {
	display: block;
	float: right;
	padding-left: 10px;
	width: 140px;
}
/* exception: after checkbox */
div.postbox p.hor-form label.chk + span {
    float: left;
	padding-left: 0;
    width: 174px;
}
div.postbox p.hor-form label + input[type="button"] {
	float: right;
    margin-right: 70px;
}

div.postbox p.hor-form span.display-only {
    background-color: #ecf1f3;
    color: #000;
    float: left;
    font-size: 14px;
    line-height: 18px;
    min-height: 18px;
    padding: 3px 5px;
    margin-bottom: 8px;
    width: 190px;
}
div.postbox p.hor-form textarea {
    float: left;
}

/* grouping establishments together in display */
div.postbox p.hor-form label.dbl-line {
    	padding: 0 3px;
}
div.postbox p.hor-form .grp-top, div.postbox table.editform .grp-top {
    border-top: 1px solid #bbb;
}
div.postbox p.hor-form .grp-btm, div.postbox table.editform .grp-btm {
    border-bottom: 1px solid #bbb;
}
div.postbox table.editform .grp-btm {
    padding-bottom: 10px;
}

/* wide controls; display-only box */
div.postbox p.hor-form.wide span.display-only {
    width: 340px;
}
div.postbox p.hor-form.wide input, div.postbox p.hor-form.wide textarea {
    width: 349px;
}
/* small text under display-only box */
div.postbox p.hor-form.wide span.display-only + span {
    display: block;
    margin: 0 0 8px 200px;
    width: 350px;
    text-align: right;
}
/* end of: p.hor-form */

/* show better distinction between enabled/disabled, disabled for checkbox and dropdown list is used as readonly */
div.postbox select:disabled, textarea:disabled, input[type="text"]:disabled, input[type="file"]:disabled, input[type="email"]:disabled, input[type="checkbox"]:disabled {
	background-color: #eee;
    color: #000;
    opacity: 1;
}

/* backgrounds for verf-ok and verf-err */
div.postbox input.verf-ok, div.postbox p.hor-form span.display-only.verf-ok {
    background-color: #ecf1f3;
    color: #000;
}
div.postbox input.verf-err, div.postbox span.verf-err, div.postbox p.hor-form span.verf-err {
    background-color: #ffe0e0;
    color: #000;
}
/* attention text */
div.postbox strong {
    color:  #c00000;
}

/* textarea is the only control without visible readonly */
textarea[readonly="readonly"] {
    background-color: #eee;
}

div.postbox p.button-row, div.postbox p.alone {
	display: inline-block;
	width: 100%;
}
div.postbox .ctr {
    text-align: center;
}
/* pushbuttons in menu form need to be on their own line */
div.postbox p.alone input {
    display: block;
    clear: both;
    margin: 5px auto;
}

/* some pusbutton labels in English are really short */
div.postbox p.button-row input{
	min-width: 50px;
    margin-right: 10px;
}
/* select control in button row */
div.postbox p.button-row select {
    display: inline;
    margin-left: 20px;
}
div.postbox p.button-row option.list-dvdr {
    background:  #ecf1f3;
    color: #777;
    border-top: 1px solid #bbb;
    margin: 2px 0;
}

/* all input elements are the same size  */
div.postbox textarea, div.postbox input[type="text"], div.postbox input[type="email"], div.postbox select {
	display: block;
	width: 200px;
	margin-bottom: 10px;
    /* line-height: 18px; */
    /* creates problems in select control, is necessary? */
}
div.postbox input.dbl-lbl, div.postbox p span.display-only.dbl-lbl {
    margin-bottom: 20px;
}
/* (file upload does not work well with some browsers sometimes, better give smaller width) */
div.postbox input[type="file"] {
	display: block;
	width: 198px;
	margin-bottom: 10px;
    font-size: 8pt;
    padding: 0;
}
div.postbox .col1 input[type="file"] {
    width: 178px;
    color: #fff;
}

div.postbox input[type="checkbox"] {
	margin: 6px 180px 14px 0;
}
/* div.postbox input[type="checkbox"]:before {
	margin-top: 6px;
} */

div.postbox input.chk2lbl[type="checkbox"]{
	margin: 6px 3px 9px 1px;
    float: left;
}
div.postbox div input.chk2lbl[type="checkbox"]+label {
    width: 154px;
    margin: 0;
    min-height: 19px;
}
div.postbox div.col3 input.chk2lbl[type="checkbox"]+label {
    width: 524px;
    margin: 0;
}
div.postbox input.chk2lbl + label > img {
    height: 18px;
    vertical-align: middle;
    margin-right: 6px;
}

/* ugly webkit hack: its input file types are different */
/* @media screen and (-webkit-min-device-pixel-ratio:0) {
	div.postbox input[type="file"] {
		width: 198px;
		display: inline;
		margin-left: -1px;
		padding: 0;
	}
} */

/* show greyed prompt information in the <select> box's (first choice) */
div.postbox select.prompt option:first-child {
	color:  #a0a0a0;
}
/* but show black when disabled (as readonly) */
div.postbox select.prompt:disabled {
    color: #444;
}

/* all other options should always stay black */
div.postbox select.prompt option {
	color: #444;
}

/* use own error message display, in case std display changes in future versions of WordPress */
div.postbox p.err-msg, div.postbox span.err-msg {
    display: block;
	font-weight: bold;
	color: #f00;
}
/* special error msg for inside edit form, due to wp_user reference */
div.postbox span.inline.err-msg {
    width: 400px;
}
/* positive feedback messages (for large/filtered lists) */
div.postbox p.fbk-msg {
    display: block;
	font-weight: bold;
	color: #363;
}
